---
layout: default
---

<header style="margin-bottom:2rem">
  <div class="header-title">
    <a href="{{ site.url }}{{ site.baseurl }}">{{ site.name }}</a>
  </div>
  <nav class="header-nav">
    {% for nav in site.nav %}
    {% if nav.url contains 'http://' or nav.url contains 'https://' %}
    <a href="{{ nav.url }}">{{ nav.name }}</a>
    {% else %}
    <a href="{{ nav.url | prepend: site.baseurl }}">{{ nav.name }}</a>
    {% endif %}
    {% endfor %}
  </nav>
</header>

<p>
Hey there! I've been writing music since my grand-dad sat me in front of a piano when I was, like, ten. In 2008, I started <a href="https://www.cipherprime.com">Cipher Prime</a> with <a href="https://willstall.com">Will Stallwood</a>, and ever since then I've been writing beats and code with reckless abandon. I love using audio, sound effects, and music to make digital experiences truly special.
</p>

<p>
I like black clothes, but I have white cats.
</p>

<a href="mailto:dain@cipherprime.com">Let's make something awesome together!</a>
