---
layout: default
---

<style>
input
{
  padding: 5px;
  font-size: 18px;
  height: 35px;
  font-family: 'Aleo', serif;
  width: 50%;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

button
{
  padding: 5px 20px;
  font-size: 18px;
  height: 35px;
  color: #FFF;
  background: #2270BF;
  border: 0px;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
  top: 2px;
}

</style>

<header style="margin-bottom:2rem">
  <div class="header-title">
    <a href="{{ site.url }}{{ site.baseurl }}">{{ site.name }}</a>
  </div>
  <nav class="header-nav">
    {% for nav in site.nav %}
    {% if nav.url contains 'http://' or nav.url contains 'https://' %}
    <a href="{{ nav.url }}">{{ nav.name }}</a>
    {% else %}
    <a href="{{ nav.url | prepend: site.baseurl }}">{{ nav.name }}</a>
    {% endif %}
    {% endfor %}
  </nav>
</header>

<p>
Hey there! I've been writing music since my grand-dad sat me in front of a piano when I was, like, ten. In 2008, I started <a href="https://www.cipherprime.com">Cipher Prime</a> with <a href="https://willstall.com">Will Stallwood</a>, and ever since then I've been writing beats and code with reckless abandon. I love using audio, sound effects, and music to make digital experiences truly special.
</p>

<p>
I like black clothes, but I have white cats.
</p>

<a href="mailto:hello@dainsaint.com">Let's make something awesome together!</a>

<hr/>

<h3>Newsletter</h3>

<p>
I'm not a huge fan of social media—it's an amazing invention for sure, but something about it doesn't really vibe with my personality? So if you'd like updates on what I'm working on, consider subscribing to my weekly newsletter instead:
</p>

<form action="https://tinyletter.com/dainsaint" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/dainsaint', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
  <input type="text" name="email" id="tlemail" placeholder="Enter your email address"/>
  <button type="submit">Subscribe</button>
  <input type="hidden" value="1" name="embed"/>
</form>
