<head>
  <meta name="google-site-verification" content="7ovvUJsqmr5CgV00kZVAGS-dYqLuyKdSXf0PwpkUfN4" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.social %}
  <meta name="og:image" content="{{ page.social }}">
  <meta name="og:title" content="{{ page.title }}">
  <meta name="og:description" content="{{ page.description }}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image" content="{{ page.social }}">
  {% endif %}

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" type="text/css">

  <!-- Font -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'> -->
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Aleo:400,400i,700,700i" rel="stylesheet">

  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }}" href="{{ site.baseurl }}/feed.xml" />
  {% seo %}


  {% include google-analytics.html %}

</head>
